* {
    color: var(--black);
    margin: 0 !important;
    scroll-behavior: smooth;
}
:root {
    --primary-pink: #F8DCDA;
    --primary-green: #516345;
    --white: #F6F6F6;
    --black: #222223;
    --grey: #BFBFBF;
    --border: solid 1.5px;   
    --swiper-navigation-size: 32px;
}
h1 {
    font-family: "Playfair Display", serif;
    /* text-transform: uppercase; */
    font-weight: 500;
    font-size: 4vw;
    text-align: center;
    font-style: italic;
    padding-bottom: 2.4vw;
}
h2 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 2.2vw;
    padding-bottom: 1.4vw;
}
h3 {
    font-family: "Rouge Script", serif;
    font-size: 48px;
    text-align: center;
}
h4 {
    font-family: "Lato", serif;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 8px;
}
p {
    font-family: "Lato", serif;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
}
li {
    text-decoration: none;
    list-style: none;
}
ul {
    padding-inline-start: 0;
}
button {
    padding: 4px 16px;
    border: var(--border) var(--black);
}
button:hover {
    background-color: var(--primary-green);
    color: var(--white);
    border: var(--border) var(--primary-green);
    transition: ease-in 0.1s;
}
input {
    padding: 4px 16px;
    border: var(--border) var(--black);
}
section {   
    background-color: var(--white);
    padding: 4vw 12vw !important;
}
.bg-custom {
    background-color: var(--white);
}
.navbar {
    gap: 0.6rem;
}
.navbar-nav {
    width: 82%;
}
/* .nav-separator {
    width: 90%;
    opacity: 100;
    background-color: var(--black);
    height: 1.5px;
} */
.nav-link {
    color: var(--black);
    text-transform: uppercase;
    transition: font-weight 0.3s ease-in-out;
}
.nav-link:hover {
    color: var(--primary-green);
    font-weight: 900;
}
.nav-link.active {
    text-decoration: underline;
}
.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}
.show {
    transform: translateY(0);
    transition: transform 0.5s ease;
}
footer {
    font-size: 12px;
    background-color: var(--primary-green);
}   
footer h4, footer li, footer b {
    color: var(--white);
}
footer button:hover {
    border: var(--border) var(--white);
}
#footer-a {
    padding: 2vw 6vw;
}
#footer-a ul.col:first-child {
    padding-left: 0;
}
#footer-b *{
    color: var(--white);
    background-color: var(--black);
    padding: 0 6vw;
}
.container-fluid {
    padding: 0;
}
.socials i, .socials li{
    padding: 0 4px !important;
}

header {
    background-color: var(--white);
    padding: 1vw;
}
#header-img {
    width: 90vw;
    margin: 0 auto !important;
}
#header-img img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
#header-text {
    position: absolute;
    z-index: 1;
    top: 44vh;
    right: 8vw;
    color: var(--white);
}
#header-text h1 {
    text-align: start;
}
#intro {
    padding: 2vw 0vw !important;
    height: 32vw;
}
#intro img {
    object-fit: cover;
    width: 10vw;
}
#intro .col-4 {
    padding: 0 !important;
}
img#intro-img-a {
    aspect-ratio: 3/4;
    width: 16vw;
}
img#intro-img-b {
    position: relative;
    top: 8vw;
    left: -5vw;
    aspect-ratio: 1;
    width: 15vw;
}
img#intro-img-c {
    position: relative;
    top: 5vw;
    right: -6vw;
    aspect-ratio: 3 / 2;
    width: 28vw;
}
#intro-title h2:first-child {
    padding-bottom: 0;
}
.has-scroll-smooth [data-scroll-container] {
    min-height: 0 !important;
}
/* #hr-timeline {
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 340vh;
    opacity: 100;
    background-color: var(--black);
    width: 1.5px;
} */
#intro h2, #intro p {
    text-align: center;
}
/* #story {
    height: 60vh;
    overflow-y: scroll;
} */
#story {
    position: relative;
}
#timeline-a, #timeline-b, #timeline-c, #timeline-d, #timeline-e {
    gap: 4vw;
    margin-bottom: 4vw !important;
} 
.timeline-item {
    padding-top: 40vh;
}
/* .timeline-item:first-child{
    padding-top: 0;
} */ 
.timeline-img-item {
    width: 100%;
    /* height: auto; */
    /* aspect-ratio: 14/9; */
    object-fit: cover;
    display: block;
    padding-bottom: 20px;
}
.timeline-text{
    color: var(--grey);
    transition: color 0.3s ease-in-out;
}
.timeline-text.is-inview {
    color: var(--black); 
}
#timeline-text {
    margin-top: -20vh !important;
    /* z-index: -1; */
    min-height: 380vh !important;
}
#timeline-img {
    margin-top: -20vh !important;
    /* max-height: 380vh; */
}
/* menu */
#menu {
    background-color: var(--primary-green);
}
#menu-card {
    margin: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    background: var(--white);
    padding: 4vw 4vw;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    height: 95vh; 
    position: relative;
    overflow: hidden;
}
.menu-container {
    /* text-align: center;
    position: relative; */
    display: flex;
    gap: 1vw;
    flex-direction: column;
    align-items: center;
}
.menu-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-logo img {
    width: 20%;
    height: auto;
}
/* .menu-header {
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    color: var(--primary-green);
    position: absolute;
    top: -2rem;
    left: -1rem;
    z-index: -1;
    opacity: 0.1;
} */
.menu-image {
    width: 60%;
    height: auto;
    aspect-ratio: 1/1;
    margin: 1.5rem 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.menu-subtitle {
    /* font-size: 1.5rem;
    font-weight: bold; */
    /* margin-bottom: 1rem; */
    padding-bottom: 0;
    text-transform: uppercase;
    color: var(--primary-green);
    padding-top: 2vw;
}
.menu-description {
    /* font-size: 1rem; */
    color: var(--black);
    margin-bottom: 2rem;
    padding: 0 1rem;
    text-align: center;
}
#menu h1, #header-text h1 {
    padding-bottom: 0 !important;
}
/* menu gallery */
.gallery img {
    transition: transform 0.3s ease, opacity 0.3s ease;
    object-fit: cover;
    padding-bottom: 1.2rem;
}
.gallery img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}
.lb-caption {
    color: var(--white);
}
.lb-outerContainer, .lb-dataContainer {
    margin: 0 auto !important;
}
.lb-loader {
    display: none !important;
}
body.no-scroll {
    overflow: hidden;
}
/* team */
#team {
    margin-top: -24vh !important;
    background-color: var(--primary-green);
    position: relative;
    z-index: 1;
}
#team h1 {
    color: var(--white);
}
.swiper-wrapper {
    gap: 30px;
    margin-bottom: 2.8vw !important;
}
.swiper-pagination {
    gap: 8px;
}
.swiper-pagination-bullet-active {
    background-color: var(--white);
}
#team .card-team {
    background: var(--white);
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 2vw;
    min-height: 52vh;
}
#team .card-img-team p {
    text-align: center;
    font-style: italic;
    line-height: 1.8vw;
}
#team .card-img-team {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#team .card-img-team img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/4;
}
#team .card-info-team {
    text-align: center;
    width: 50%;
}
#team .card-info-team p {
    color: var(--black);
}
.swiper-button-next, .swiper-button-prev {
    color: var(--black);
    top: 46%;
    right: 8px;
}
.swiper-button-prev {
    left: 8px;
}
/* shop */
.shop {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 2vw;
}
.shop-card {
    width: 30vw;    
    padding: 1vw;
    border: var(--border) var(--black);
}
.shop-card img {
    width: 100%;
}
.shop-info {
    padding-top: 1vw;
}
#shop h4 {
    padding-bottom: 0;
}
.shop-model {
    width: 100%;
}
.shop-card model-viewer {
    height: 40vh;
}


/* garden gallery */
.gallery-item {
    position: relative;
    overflow: hidden;
    padding-bottom: 1.4rem;
}
.gallery-item img {
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0;
}
/* .gallery-item img:hover {
    transform: scale(1.02);
    opacity: 0.8;
} */


.garden-hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 0.1s ease;
    pointer-events: none;
}

/* blog */
.blog {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 2vw;
}

.blog-card {
    width: 30vw;
    padding: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    text-align: center;
    height: 200px; 
    text-decoration: none;
}

.blog-card:hover {
    transform: scale(1.1);
    text-decoration: none;
}

.blog-info {
    padding-top: 1vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
}

#blog h4 {
    padding-bottom: 0;
    color: #516345;
    margin: 0;
    border: none; 
    text-decoration: none; 
}

#blog p {
    margin-top: 0.5em; 
    color: #333;
    border: none;
    text-decoration: none; 
}

.blog-model {
    width: 100%;
}





@media (max-width: 768px) {
    .cards {
        display: flex;
        flex-direction: column;

    }
    .blog-card {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {

    .blog-card {
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }

    #blog h1 {
        font-size: 28px; 
    }
    
    .blog-info{
        flex-grow: 0.2; 

    }

    .blog-info h4 {
        font-size: 18px; 
    }
    .blog-info p {
        font-size: 14px; 
    }
}