* {
    color: var(--black);
    margin: 0 !important;
    scroll-behavior: smooth;
    background-color: var(--white);
}
:root {
    --primary-pink: #F8DCDA;
    --primary-green: #516345;
    --white: #F6F6F6;
    --black: #222223;
    --grey: #BFBFBF;
    --border: solid 1.5px;   
}
h1 {
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4vw;
    text-align: center;
}
h2 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 1.4vw;
}
h3 {
    font-family: "Rouge Script", serif;
    font-size: 48px;
    text-align: center;
}
h4 {
    font-family: "Lato", serif;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 8px;
}
p {
    font-family: "Lato", serif;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
}
li {
    text-decoration: none;
    list-style: none;
}
ul {
    padding-inline-start: 0;
}
button {
    padding: 4px 16px;
    border: var(--border) var(--black);
}
button:hover {
    background-color: var(--primary-green);
    color: var(--white);
    border: var(--border) var(--primary-green);
    transition: ease-in 0.1s;
}
input {
    padding: 4px 16px;
    border: var(--border) var(--black);
}
section {   
    padding: 2vw 12vw !important;
}
.bg-custom {
    background-color: var(--white);
}
.navbar {
    gap: 0.6rem;
}
.navbar-nav {
    width: 90%;
}
.nav-separator {
    width: 100%;
    opacity: 100;
    background-color: var(--black);
    height: 1.5px;
}
.nav-link {
    color: var(--black);
    text-transform: uppercase;
}
.nav-link:hover {
    color: var(--primary-pink);
}
.nav-link.active {
    text-decoration: underline;
}
footer {
    font-size: 12px;
}
#footer-a {
    padding: 0 6vw;
}
#footer-a ul.col:first-child {
    padding-left: 0;
}
#footer-b *{
    color: var(--white);
    background-color: var(--black);
    padding: 0 6vw;
}
.container-fluid {
    padding: 0;
}
.socials i, .socials li{
    padding: 0 4px !important;
}


header {
    height: 50vh;
    background-image: url("../media/header/header.png");;
    background-size: cover  ;
}
#intro {
    padding: 2vw 0vw !important;
    height: 32vw;
}
#intro img {
    object-fit: cover;
    width: 10vw;
}
#intro .col-4 {
    padding: 0 !important;
}
img#intro-img-a {
    aspect-ratio: 3/4;
    width: 16vw;
}
img#intro-img-b {
    position: relative;
    top: 8vw;
    left: -5vw;
    aspect-ratio: 1;
    width: 15vw;
}
img#intro-img-c {
    position: relative;
    top: 5vw;
    right: -6vw;
    aspect-ratio: 3 / 2;
    width: 28vw;
}
#hr-timeline {
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 340vh;
    opacity: 100;
    background-color: var(--black);
    width: 1.5px;
}
#intro h2, #intro p {
    text-align: center;
}
/* #story {
    height: 60vh;
    overflow-y: scroll;
} */
#timeline {
    gap: 4vw;
    /* height: 40vh;
    overflow-y: scroll; */
}
#story::-webkit-scrollbar {
    display: none;
}
.timeline-item {
    padding: 25vh 0;
}
.timeline-img-item {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    padding-bottom: 1vw;
}
